* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  height: 811px;
  width: 100vw;
  background-image: url(image/Bitmap.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.cta-btn i {
  color: #ffd723;
}
.cta-btn.alt i {
  color: #d4d6d4;
}

#press-me {
  list-style: none;
}

.logo_burger {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem;
}

.btn_burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
  width: 2.58vw;
  height: 2.58vw;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.btn_burger:hover {
  background-color: #5d6544;
  transition: 0.1s;
}

.btn_burger_toggle {
  background-color: #5d6544;
}

.btn_burger img {
  width: 1vw;
  height: 1vw;
}

.text-span1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52.08vw;
  height: 412px;
  padding: 0 11.1vw;
  margin: 5rem 0;
}

#first_p {
  margin: 0.5rem 0;
  color: #ffffff;
  font-size: 14px;
  width: 10.2vw;
  height: 21px;
  font-family: "Poppins";
}

.text-span1 h1 {
  margin: 0.5rem 0;
  color: #ffffff;
  font-size: 60px;
  width: 42.08vw;
  font-family: "Poppins";
}

.text-span1 p {
  margin: 3.5rem 0;
  color: #ffffff;
  font-size: 16px;
  width: 40.2vw;
  font-family: "Poppins";
}

.text-span1 li {
  margin: 0.5rem 0;
  color: #ffffff;
  font-size: 16px;
}

.text-span1 a {
  margin: 0.5rem 0;
  color: #ffd723;
  font-size: 16px;
  font-family: "Poppins";
}

.partners {
  position: relative;
  width: 87.6vw;
  height: 227px;
  background-color: #ffffff;
  z-index: 2;
  top: 707px;
  left: 11.45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 50px 50px 100px 0px #00000025;
  border-radius: 3px 0 0 3px;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54.4vw;
  height: 113px;
}

.partners-logos img {
  margin: 0 2rem;
}

.text-div {
  position: absolute;
  width: 87.5vw;
  height: 644px;
  top: 810px;
  left: 11.5vw;
  display: flex;
  gap: 210px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 31vw;
}

.text p {
  font-family: "Poppins";
}

#p1 {
  color: #4d533ce5;
  font-size: 14px;
  margin: 2rem 0;
  width: 10vw;
  height: 21px;
}

#p2 {
  font-size: 16px;
  color: #21384299;
  margin: 2rem 0;
  width: 35vw;
  height: 78px;
}

.text h2 {
  font-family: "Poppins";
  color: #4d533ce5;
  font-size: 36px;
  width: 35vw;
  height: 158px;
}

.text a {
  color: #d4d6d4;
  font-family: "Poppins";
  margin: 2rem 0;
}

#span-technology {
  background-color: #ffd7231a;
}

.bloc-1 {
  width: 32vw;
  height: 644px;
  box-shadow: 0px 100px 100px 0px #00000025;
  display: flex;
  justify-content: center;
}

.bloc-1-child-text {
  color: #4d533c;
  font-family: "Poppins";
  position: absolute;
  width: 26vw;
  height: 200px;
  margin: 12rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.bloc-1-child-text p {
  width: 25vw;
}

.bloc-2 {
  width: 25vw;
  height: 90px;
  position: absolute;
  top: 454px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-1 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.icon-1 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.bloc-2-child {
  width: 17vw;
  height: 62px;
}

#bloc-2-child-p1 {
  font-family: "Poppins";
  font-size: 22px;
  color: #4d533c;
}

#bloc-2-child-p2 {
  font-family: "Poppins";
  font-size: 16px;
  color: #152934;
}

.main-section {
  position: relative;
  width: 100%;
  height: 2500px;
  top: 1304px;
}

.rectangle {
  position: relative;
  width: 77vw;
  height: 1px;
  left: 165px;
  background-color: #21384218;
}

.group-13 {
  position: relative;
  width: 65vw;
  height: 102px;
  top: 170px;
  left: 11.5vw;
  display: flex;
  justify-content: space-between;
}

#p-1 {
  font-family: "Poppins";
  font-size: 36px;
  color: #4d533c;
  width: 27vw;
  height: 108px;
}

#p-2 {
  font-family: "Poppins";
  font-size: 16px;
  color: #21384299;
  width: 34vw;
  height: 78px;
}

.div-1 {
  position: relative;
  width: 100%;
  height: 615px;
  top: 300px;
  display: flex;
  justify-content: space-between;
}

.div-1-child {
  position: relative;
  width: 54vw;
  height: 615px;
  z-index: 1;
}

.div-1-child img {
  width: 51vw;
  height: 550px;
}

.div-1-child-upper-bloc {
  position: absolute;
  width: 31.4vw;
  height: 243px;
  left: 22.4vw;
  top: 373px;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 50px 50px 100px 0px #00000025;
  border-radius: 8px;
}

#div-1-child-upper-bloc-text {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
}

#div-1-child-upper-bloc-text p {
  width: 27.08vw;
  height: 111px;
  font-family: "Poppins";
  color: #4d533c;
  font-size: 16px;
}

#div-1-child-upper-bloc-div {
  width: 15.2vw;
  height: 48px;
  margin: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

#div-1-child-upper-bloc-div img {
  box-shadow: 20px 25px 43px 0px #0000002e;
  width: 46px;
  height: 46px;
}

#div-1-child-upper-bloc-div-text {
  width: 11.1vw;
  height: 48px;
}

#p_1 {
  width: 9.9vw;
  height: 24px;
  font-family: "Poppins";
  font-size: 16px;
  color: #4d533c;
}

#p_2 {
  width: 11.9vw;
  height: 21px;
  font-family: "Poppins";
  font-size: 14px;
  color: #152934;
}

.div-2 {
  width: 33vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10vw 0 8vw;
}
.span-2-child {
  width: 33vw;
  height: 397px;
}

.span-2-child a {
  position: relative;
  top: 80px;
  color: #d4d6d4;
  font-family: "poppins";
  font-size: 16px;
}

#h2-1 {
  width: 33vw;
  height: 104px;
  font-family: "poppins";
  font-size: 34px;
  color: #4d533c;
}

#p-3 {
  width: 29vw;
  height: 156px;
  font-family: "poppins";
  font-size: 16px;
  margin: 2rem 0 0 0;
  color: #21384299;
}

.div-3 {
  width: 100%;
  height: 585px;
  position: relative;
  top: 400px;
  display: flex;
  justify-content: end;
  margin: 0 0 12rem 0;
}
.div-3-child {
  width: 100%;
  height: 585px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-3-child {
  width: 33vw;
  height: 397px;
  margin: 0 0vw 0 10vw;
}

.span-3-child a {
  position: relative;
  top: 80px;
  color: #d4d6d4;
  font-family: "Poppins";
}

.div-3-child-img {
  position: relative;
  width: 53.8vw;
  height: 585px;
  display: flex;
  justify-content: end;
}

.div-3-child-img img {
  width: 51vw;
  height: 550px;
}

.rectangle-5 {
  position: absolute;
  width: 31.4vw;
  height: 243px;
  border-radius: 8px;
  left: 0px;
  top: 342px;
  box-shadow: 50px 50px 100px 0px #00000025;
  background-color: #ffffff;
}

#div-1-child-upper-bloc-text1 {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
}

#div-1-child-upper-bloc-text1 p {
  width: 27vw;
  height: 111px;
  font-family: "Poppins";
  color: #4d533c;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-box-down {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: end;
}

.div-4 {
  top: 1420px;
  position: relative;
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-44 {
  top: 811px;
  position: relative;
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  width: 70.8vw;
  height: 309px;
  display: flex;
  align-items: center;
}

.div1 p {
  font-family: "Poppins";
  font-size: 36px;
  width: 42.1vw;
  color: #4d533c;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
  width: 17.7vw;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#p-title {
  font-size: 24px;
  color: #4d533c;
  font-family: "Poppins";
  margin: 2rem;
}

#p-description {
  font-size: 14px;
  color: #21384299;
  margin: 0 2rem 2rem 2rem;
  font-family: "Poppins";
}

.div2 a {
  color: #ffd723;
  margin: 2rem;
  text-align: start;
  font-family: "Poppins";
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
  width: 17.7vw;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#p-title1 {
  font-size: 24px;
  color: #4d533c;
  font-family: "Poppins";
  margin: 2rem;
}

#p-description1 {
  font-size: "Poppins";
  font-size: 14px;
  color: #21384299;
  margin: 0 2rem 1rem 2rem;
  font-family: "Poppins";
}

.div3 a {
  color: #d4d6d4;
  margin: 2rem;
  text-align: start;
  font-family: "Poppins";
}

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  width: 17.7vw;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#p-title2 {
  font-size: 24px;
  color: #4d533c;
  font-family: "Poppins";
  margin: 2rem 2rem 4rem 2rem;
}

#p-description2 {
  font-size: "Poppins";
  font-size: 14px;
  color: #21384299;
  margin: 0 2rem 1rem 2rem;
  font-family: "Poppins";
}

.div4 a {
  color: #d4d6d4;
  margin: 2rem;
  text-align: start;
  font-family: "Poppins";
}

.div5 {
  grid-area: 2 / 4 / 3 / 5;
  width: 17.7vw;
  height: 309px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#p-title3 {
  font-size: 24px;
  color: #4d533c;
  font-family: "Poppins";
  margin: 2rem 2rem 4rem 2rem;
}

#p-description3 {
  font-size: "Poppins";
  font-size: 14px;
  color: #21384299;
  margin: 0 2rem 1rem 2rem;
  font-family: "Poppins";
}

.div5 a {
  color: #d4d6d4;
  margin: 2rem;
  text-align: start;
  font-family: "Poppins";
}

.before-footer {
  position: relative;
  top: 1600px;
  width: 88.5vw;
  height: 362px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  box-shadow: 50px 130px 100px 0px #00000025;
  z-index: 2;
}

.before-footerr {
  position: relative;
  top: 900px;
  width: 88.5vw;
  height: 362px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  box-shadow: 50px 130px 100px 0px #00000025;
  z-index: 2;
}

#before-footer-text {
  position: relative;
  left: 11.5vw;
  width: 57vw;
  height: 221px;
}

#before-footer-text p {
  color: #4d533c;
  font-size: 60px;
  font-family: "Poppins";
  margin: 0 0 2% 0;
}

#before-footer-text a {
  color: #d4d6d4;
  font-family: "Poppins";
  font-size: 16px;
}

footer {
  width: 100vw;
  height: 920px;
  position: relative;
  top: 1400px;
  background-color: #4f553d;
  z-index: 1;
  background-image: url("image/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
}

#foterr {
  width: 100vw;
  height: 920px;
  position: relative;
  top: 730px;
  background-color: #4f553d;
  z-index: 1;
  background-image: url("image/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
}

footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(79, 85, 61, 0.8);
}

.footer-text {
  position: relative;
  top: 320px;
  left: 11.5vw;
  width: 77.15vw;
  height: 580px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  z-index: 1;
}

#footer-text-bloc1 {
  width: 31.4vw;
  height: 88px;
  display: flex;
  justify-content: space-between;
}

#footer-span1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer-span2 {
  width: 15.3vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#pp1 {
  color: #b6c197;
  font-family: "Poppins";
  font-size: 16px;
  width: 12.4vw;
  height: 40px;
  display: flex;
  align-items: center;
}

#pp2 {
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
}

#footer-text-bloc2 {
  width: 77.15vw;
  height: 320px;
  border-top: solid #5d6544 2px;
  display: flex;
  align-items: center;
  gap: 50px;
}

#footer-text-bloc3 {
  width: 77.15vw;
  height: 60px;
  border-top: solid #5d6544 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer-text-bloc3 p {
  font-family: "Poppins";
  font-size: 14px;
  color: #b5c096;
}

.footer-bloc1 {
  width: 11.6vw;
  height: 259px;
}

.footer-bloc1 h2 {
  font-size: 16px;
  font-family: "Poppins";
  color: #ffffff;
  margin: 0 0 2rem 0;
}

.footer-bloc1 a {
  font-size: 16px;
  font-family: "Poppins";
  color: #b6c197;
  margin: 0 0 1rem 0;
  text-decoration: none;
  display: block;
}

.footer-bloc3 {
  width: 25.5vw;
  height: 259px;
  margin: 0 0 0 2rem;
}

.footer-bloc3 h2 {
  font-size: 16px;
  font-family: "Poppins";
  color: #ffffff;
  margin: 0 0 2rem 0;
}

.footer-bloc3 p {
  font-size: 16px;
  font-family: "Poppins";
  color: #b6c197;
  margin: 0 0 1rem 0;
  text-decoration: none;
  display: block;
  width: 18.8vw;
}

.footer-bloc3 h1 {
  font-size: 24px;
  font-family: "Poppins";
  color: #ffffff;
  margin: 2rem 0 3rem 0;
}

.rectangle1 {
  width: 2px;
  height: 259px;
  background-color: #5d6544;
}

.app-logos {
  width: 11.9vw;
  height: 34px;
  display: flex;
  justify-content: space-between;
  z-index: 6;
}

.logo-color1 {
  width: 33px;
  height: 33px;
  background-color: #444a34;
  border-radius: 50%;
  opacity: 0.8;
  background-image: url(image/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-color3 {
  width: 33px;
  height: 33px;
  background-color: #444a34;
  border-radius: 50%;
  opacity: 0.8;
  background-image: url(image/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-color4 {
  width: 33px;
  height: 33px;
  background-color: #444a34;
  border-radius: 50%;
  opacity: 0.8;
  background-image: url(image/in.png);
  background-repeat: no-repeat;
  background-position: center;
}

.logo-color2 {
  width: 33px;
  height: 33px;
  background-color: #ffd723;
  border-radius: 50%;
  background-image: url(image/google.png);
  background-repeat: no-repeat;
  background-position: center;
}

.burger-menu {
  position: relative;
  display: block;
  position: fixed;
  height: 100vh;
  width: 0vw;
  background-color: #4f553d;
  z-index: 3;
  transition: 0.5s;
  box-shadow: 50px 0px 100px 50px #00000025;
  background-image: url("image/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.burger-menu-show {
  width: 40vw;
  transition: 0.5s;
}

.burger-menu::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(79, 85, 61, 0.8);
  z-index: 3;
}

.burger-menu nav {
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu nav a {
  color: #b5c096;
  position: relative;
  transition: 0.1s;
  opacity: 0;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 45px;
}

.burger-menu nav a:hover {
  color: #ffd723;
}

.burger-menu nav a.block {
  opacity: 1;
  transition: 0.1s;
}

.mobile-btn {
  display: none;
}

@media (max-width: 481px) {
  .logo_burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem;
  }

  .logo_burger > div:first-child {
    display: flex;
    align-items: center;
    width: 30vw;
    gap: 0.5rem;
  }

  #button {
    width: 7vw;
    height: 7vw;
  }

  #button img {
    width: 3vw;
    height: 3vw;
  }

  .text-span1 {
    width: 75vw;
  }

  #first_p {
    width: 30vw;
    font-size: 12px;
  }

  .text-span1 h1 {
    font-size: 25px;
    width: 100vw;
  }

  #text1 {
    font-size: 14px;
    width: 100vw;
    margin: 1rem 2rem 2rem 0;
  }

  .partners {
    width: 100vw;
    left: 0;
    border-radius: 0px;
    height: 200px;
  }

  .partners-logos {
    width: 30vw;
  }

  .partners-logos img {
    width: 18vw;
    height: 10vh;
    margin: 2px;
  }
  .text-div {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height: 200vh;
    width: 99vw;
    left: 0;
    margin: 0;
    gap: 0;
  }

  .bloc-1 {
    width: 80vw;
  }

  .bloc-1-child-text {
    width: 60vw;
    height: max-content;
    margin: 7rem 0 0 0;
    display: flex;
    justify-content: center;
  }

  .bloc-1-child-text p {
    width: 60vw;
  }

  #bloc-2-child-p2 {
    width: 100%;
  }

  .bloc-2 {
    width: 60vw;
    height: 20vh;
  }

  .bloc-2-child {
    width: 35vw;
    margin: 0 0 3rem 0;
  }

  .icon-1 {
    width: 60px;
    height: 60px;
  }

  .text {
    width: 75vw;
  }

  #p1 {
    width: 50vw;
  }

  #p2 {
    width: 75vw;
    height: max-content;
  }

  .text h2 {
    width: 75vw;
    height: max-content;
  }

  .text a {
    width: 75vw;
  }

  .main-section {
    top: 1950px;
    width: 100vw;
    min-height: 3650px;
  }

  .rectangle {
    left: 11vw;
  }

  .group-13 {
    width: 80vw;
    height: 302px;
  }

  #p-1 {
    font-size: 30px;
    height: max-content;
  }

  #p-2 {
    font-size: 14px;
    height: max-content;
  }

  .div-1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    gap: 12rem;
  }

  .div-1-child {
    width: 100%;
    height: max-content;
    display: flex;
  }

  .div-1-child img {
    height: 366px;
    width: 100%;
  }

  .div-4 {
    top: 2000px;
  }

  .div-1-child-upper-bloc {
    top: 32vh;
    width: 80vw;
    left: 10vw;
  }

  #div-1-child-upper-bloc-text {
    width: 72vw;
    height: 50%;
    margin: 1rem 1rem 3rem 1rem;
  }

  #div-1-child-upper-bloc-text p {
    height: max-content;
    width: 90%;
    font-size: 15px;
  }

  #div-1-child-upper-bloc-div {
    margin: 2rem 0 0 2rem;
    width: 60vw;
  }

  #div-1-child-upper-bloc-div-text {
    width: 40vw;
  }

  #p_1,
  #p_2 {
    width: 40vw;
  }

  #p_2 {
    font-size: 12px;
  }

  #p_1 {
    font-size: 14px;
  }

  .div-2 {
    width: 80vw;
  }

  .span-2-child {
    top: 90vh;
    width: 80vw;
  }

  #h2-1 {
    width: 80vw;
  }

  #p-3 {
    width: 80vw;
    height: max-content;
  }

  .div-3 {
    top: 350px;
    width: 100vw;
    height: max-content;
    gap: 12rem;
  }

  .div-3-child {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: max-content;
    display: flex;
  }

  .div-3-child-img {
    height: 366px;
    width: 100vw;
  }

  .div-3-child-img img {
    height: 366px;
    width: 100vw;
  }

  .rectangle-5 {
    width: 80vw;
    left: 10vw;
    top: 32vh;
  }

  .span-3-child {
    width: 80vw;
    margin: 12rem 0 0 0;
  }

  .copy {
    top: 12rem;
  }

  #div-1-child-upper-bloc-text1 p {
    width: 100%;
  }

  .rectangle-box-down {
    height: 240px;
  }

  .div-4 {
    width: 100vw;
    height: 1120px;
    display: flex;
    align-items: start;
  }

  .parent {
    height: 500px;
    width: 100%;
  }

  .div1 {
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .div1 p {
    font-size: 20px;
    width: 100%;
  }

  #p-title {
    margin: 0;
    font-size: 18px;
  }

  #p-title1,
  #p-title2,
  #p-title3 {
    margin: 0;
    font-size: 18px;
  }

  #p-description,
  #p-description1,
  #p-description2,
  #p-description3 {
    margin: 1rem 0 0 0;
  }

  .div2 a,
  .div3 a,
  .div4 a,
  .div5 a {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div3 a {
    margin: 2rem 0 0 0;
  }

  .div2 {
    height: max-content;
  }

  .div2,
  .div3,
  .div4,
  .div5 {
    padding: 0 0 0 0.5rem;
    flex-direction: column;
    width: 80%;
    text-align: center;
  }

  .before-footer {
    width: 100vw;
  }

  #before-footer-text {
    width: 100vw;
    height: 170px;
    margin: 0 0 0 1rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #before-footer-text p {
    font-size: 30px;
  }

  .before-footerr {
    width: 100vw;
  }

  #foterr {
    height: 135vh;
  }

  footer {
    height: 140vh;
  }

  #footer-text-bloc1 {
    display: flex;
    justify-content: space-between;
    width: 80vw;
  }

  #footer-span2 {
    width: 40vw;
  }

  .footer-text {
    left: 0;
    height: 580px;
    width: 95%;
    margin: 0 0.5rem 0 0.5rem;
  }

  #pp1 {
    width: 75px;
    height: 20px;
  }

  #footer-text-bloc2 {
    gap: 35px;
    width: 100%;
  }

  .footer-bloc1 a {
    font-size: 11px;
  }

  .rectangle1 {
    display: none;
  }

  .footer-bloc3 {
    margin: 0;
    width: 110px;
  }

  .footer-bloc3 h2 {
    width: max-content;
  }

  .footer-bloc3 p {
    font-size: 11px;
    width: 103px;
  }

  .footer-bloc3 h1 {
    width: max-content;
    font-size: 8px;
  }

  .app-logos {
    width: 100vw;
  }

  #footer-text-bloc3 {
    width: 100vw;
    gap: 10px;
  }

  .burger-menu {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
  }
  .burger-menu-show {
    width: 100vw;
    transition: 0.5s;
  }
  .none {
    display: none;
  }
  .block {
    display: block;
  }
  #button {
    z-index: 4;
  }
  .mobile-btn {
    background-color: #ffd723;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    color: #444a34;
    font-family: "Poppins";
    transition: 0.1s;
    opacity: 0;
  }
  .burger-menu nav {
    z-index: 4;
    position: relative;
    width: 50vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-btn.block {
    opacity: 1;
    transition: 0.1s;
  }
  .burger-menu nav button {
    margin: 10rem 0 0 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .partners {
    width: 100vw;
    left: 0;
  }
  .partners-logos {
    width: 80vw;
  }

  .partners-logos img {
    width: 15vw;
    margin: 0 1rem 0 1rem;
  }

  #first_p {
    width: 150px;
  }

  .text-span1 h1 {
    font-size: 40px;
  }

  .logo_burger {
    width: 93.5%;
    left: 0;
    padding: 0;
    margin: 1rem 2rem;
  }

  .btn_burger {
    width: 35px;
    height: 35px;
  }

  .btn_burger img {
    width: 15px;
    height: 15px;
  }

  .bloc-1-child-text p {
    margin: 3rem 0 0 0;
  }

  .text-div {
    left: 0;
    margin: 0 0 0 7%;
  }

  #p1 {
    width: 150px;
  }

  .text h2 {
    height: 265px;
  }

  .bloc-2 {
    margin: 3rem 0 0 0;
    gap: 15px;
  }

  #div-1-child-upper-bloc-text p {
    font-size: 12px;
  }

  #div-1-child-upper-bloc-text {
    margin: 1rem 1rem 0 1rem;
  }

  #div-1-child-upper-bloc-div {
    width: 80%;
    margin: 1rem 1rem 1rem 2rem;
  }

  #div-1-child-upper-bloc-div-text {
    width: 142px;
  }

  .span-3-child {
    height: max-content;
  }

  #p_1 {
    width: 100%;
  }

  #h2-1 {
    height: max-content;
  }

  #p-3 {
    height: max-content;
  }

  #div-1-child-upper-bloc-text1 {
    margin: 1rem 1rem 0 1rem;
  }

  #div-1-child-upper-bloc-text1 p {
    font-size: 12px;
  }

  #before-footer-text p {
    font-size: 40px;
  }

  .before-footerr {
    margin: 10rem 0 0 0;
  }

  #foterr {
    height: 121vh;
  }

  footer {
    height: 121vh;
  }

  #footer-text-bloc1 {
    width: 300px;
  }

  #footer-span2 {
    width: 160px;
  }

  .footer-bloc3 h1 {
    font-size: 16px;
  }

  .app-logos {
    width: 160px;
  }
}
